## Series

In [4]:
import pandas as pd
import numpy as np

In [5]:
labels = ['a', 'b', 'c']

minha_lista = [10, 20, 30]

arr = np.array([10, 20, 30])

d = {'a':10, 'b':20, 'c':30}

In [6]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [7]:
pd.Series(data=labels, index=minha_lista)

10    a
20    b
30    c
dtype: object

In [8]:
pd.Series(labels, minha_lista)

10    a
20    b
30    c
dtype: object

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
ser1 = pd.Series([1, 2, 3, 4], index = ['EUA', 'Alemanha', 'Rússia', 'Japão'])

In [11]:
ser1

EUA         1
Alemanha    2
Rússia      3
Japão       4
dtype: int64

In [12]:
ser2 = pd.Series([1, 2, 5, 4], index = ['EUA', 'Alemanha', 'Itália', 'Japão'])

In [13]:
ser2

EUA         1
Alemanha    2
Itália      5
Japão       4
dtype: int64

In [14]:
ser1[['EUA', 'Alemanha', 'Rússia']]

EUA         1
Alemanha    2
Rússia      3
dtype: int64

In [15]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
Rússia      NaN
dtype: float64

## DataFrames

In [16]:
from numpy.random import randn

In [17]:
df = pd.DataFrame(randn(5,4), index= ["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [18]:
df

          W         X         Y         Z
A -0.189076  0.879036  0.307140 -0.638468
B -0.480815 -0.248067  0.392974 -0.195244
C  0.096566 -0.490295 -1.670409  2.169684
D -0.706738  0.153671  0.181316  0.155492
E -0.346363 -1.508238 -0.000340 -0.766902

In [19]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df[['W']]

          W
A -0.189076
B -0.480815
C  0.096566
D -0.706738
E -0.346363

In [28]:
df['new'] = df['W'] + df['X']

In [29]:
df

          W         X         Y         Z       new
A -0.189076  0.879036  0.307140 -0.638468  0.689961
B -0.480815 -0.248067  0.392974 -0.195244 -0.728882
C  0.096566 -0.490295 -1.670409  2.169684 -0.393730
D -0.706738  0.153671  0.181316  0.155492 -0.553067
E -0.346363 -1.508238 -0.000340 -0.766902 -1.854601

In [35]:
df2 = df.drop('new', axis=1)

In [36]:
df

          W         X         Y         Z       new
A -0.189076  0.879036  0.307140 -0.638468  0.689961
B -0.480815 -0.248067  0.392974 -0.195244 -0.728882
C  0.096566 -0.490295 -1.670409  2.169684 -0.393730
D -0.706738  0.153671  0.181316  0.155492 -0.553067
E -0.346363 -1.508238 -0.000340 -0.766902 -1.854601

In [37]:
df2

          W         X         Y         Z
A -0.189076  0.879036  0.307140 -0.638468
B -0.480815 -0.248067  0.392974 -0.195244
C  0.096566 -0.490295 -1.670409  2.169684
D -0.706738  0.153671  0.181316  0.155492
E -0.346363 -1.508238 -0.000340 -0.766902

In [38]:
df.drop('new', axis=1, inplace=True)

In [39]:
df

          W         X         Y         Z
A -0.189076  0.879036  0.307140 -0.638468
B -0.480815 -0.248067  0.392974 -0.195244
C  0.096566 -0.490295 -1.670409  2.169684
D -0.706738  0.153671  0.181316  0.155492
E -0.346363 -1.508238 -0.000340 -0.766902

In [41]:
df.loc[['A', 'B']]

          W         X         Y         Z
A -0.189076  0.879036  0.307140 -0.638468
B -0.480815 -0.248067  0.392974 -0.195244

In [45]:
df.iloc[[0,2],[1, 2]]

          X         Y
A  0.879036  0.307140
C -0.490295 -1.670409